.github-profile {
	margin: 1rem;
}

.profile-image {
  width: 75px;
}

.suggestion-image{
  width: 30px;
}

.info {
  display: inline-block;
  margin-left: 12px;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
}


form {
	border: thin solid #888;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.header {
	text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.suggestion{
  cursor:pointer;
  color:white;
  background-color: #676868 !important;
}

.suggestion:hover{
  color:#05d1ff;
}
